.eighty-eight-grid {
  margin: 0;
  padding: 0.5rem;
  max-width: min(calc((88px + 4.5px) * 10), 100vw);
  display: grid;
  gap: clamp(4px, 2vw, 7.4px) clamp(2px, 1.5vw, 4.5px);
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(88px, 1fr));
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  margin-bottom: 1rem;
}

.eighty-eight {
  margin: 0;
  width: 88px;
  height: 31px;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  border: 1px solid var(--ctp-surface0);
}

.eighty-eight:hover {
  box-shadow: 0 0 10px var(--ctp-mauve);
  border-color: var(--ctp-mauve);
}

.eighty-eight:active {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.9);
}
