@if (user) {
  <section>
    <h1>~{{ user.username }}</h1>
    <p class="muted italic">{{ user.bioShort }}</p>

    <hr />

    @if (user.avatar) {
      <div class="avatar-container">
        <img [src]="user.avatar" [alt]="user.username + ' avatar'" class="avatar" />
      </div>
    }

    <div class="box">
      <h2>## about</h2>
      <p>{{ user.bioLong }}</p>
    </div>

    @if (user.links && user.links.length > 0) {
      <div class="box">
        <h2>## links</h2>
        <ul>
          @for (link of user.links; track link.url) {
            <li>
              <a [href]="link.url" target="_blank" rel="noopener noreferrer">{{ link.label }}</a></li
            >
          }
        </ul>
      </div>
    }

    <hr />

    <p class="muted small"><a routerLink="/people"><- back to /people</a></p>
  </section>
}
